release
target
build
libs
.settings
.project
.classpath
.idea
.DS_Store
bin
gen
proguard
.pmd
*~
*.iml
tmp
gen-external-apklibs
out
app.iml
MeituanUri
coverage
build/
.gradle/
gradle/
gradlew
gradlew.bat
gradle.properties
local.properties
sonar-project.properties